/* Taken from: https://www.arungudelli.com/tutorial/css/disable-text-selection-in-html-using-user-select-css-property/ */
.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}

body {
  color: #212123;
  overflow: hidden;
}

#primary-window {
  width: 100%;
  border-radius: .25rem;
  margin-top: 5px;
}

.right.pane {
  margin-top: 1rem;
}

.nav-pills .nav-link.active {
  color: inherit;
  background-color: transparent;
}

.nav-pills .nav-link.active .fa-plus-square,
.nav-pills .nav-link.active .fa-books,
.nav-pills .nav-link.active .fa-cog {
  filter: drop-shadow(0 2px 3px rgba(52, 48, 44, .5));
}

.nav-pills .nav-link:not(.active):hover .fa-plus-square,
.nav-pills .nav-link:not(.active):hover .fa-books,
.nav-pills .nav-link:not(.active):hover .fa-cog {
  --fa-primary-opacity:   .75 !important;
  --fa-secondary-opacity: .75 !important;
}

@media (prefers-color-scheme: light) {
  body {
    background: #ccb9b1;
  }
}


@media (prefers-color-scheme: dark) {
  body {
    background: #212123;
  }
}
