:root {
  --pane-selector-primary-color:   #372214;
  --pane-selector-secondary-color: #b8733a;

  --pane-selector-primary-color-rgb: 55, 34, 20;

  --pane-selector-primary-active-opacity:    1;
  --pane-selector-primary-inactive-opacity:   .5;
  --pane-selector-secondary-active-opacity:   .75;
  --pane-selector-secondary-inactive-opacity: .25;
}

/* Taken from: https://www.arungudelli.com/tutorial/css/disable-text-selection-in-html-using-user-select-css-property/ */
.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}

body {
  color: #212123;
  overflow: hidden;
}

.center.pane {
  padding-right: 0;
}

#primary-window {
  width: 100%;
}

.right.pane {
  margin-top: 1rem;
}

.nav-pills .nav-link.active {
  color: inherit;
  background-color: transparent;
}

.nav-pills .nav-link.active .fa-plus-square,
.nav-pills .nav-link.active .fa-books,
.nav-pills .nav-link.active .fa-cog {
  filter: drop-shadow(0 2px 3px rgba(52, 48, 44, .5));
}

.nav-pills .nav-link:not(.active):hover .fa-plus-square,
.nav-pills .nav-link:not(.active):hover .fa-books,
.nav-pills .nav-link:not(.active):hover .fa-cog {
  --fa-primary-opacity:   .75 !important;
  --fa-secondary-opacity: .75 !important;
}

.right.pane #nav-tab-content form.creator {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right:   .75rem;
  padding-left:    .75rem;
  padding-bottom: 1rem;
  padding-top:    1rem;
  position: absolute;
  bottom:   0;
  top:      9.25rem;
  box-shadow: inset 0 .125rem .25rem rgba(var(--pane-selector-primary-color-rgb), .25);
}

@media (prefers-color-scheme: light) {
  body {
    background: #ccb9b1;
  }
}


@media (prefers-color-scheme: dark) {
  body {
    background: #212123;
  }
}
