/* Taken from: https://www.arungudelli.com/tutorial/css/disable-text-selection-in-html-using-user-select-css-property/ */
.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}

body {
  color: #212123;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  body {
    background: #ccb9b1;
  }
}


@media (prefers-color-scheme: dark) {
  body {
    background: #212123;
  }
}
