/* Default color scheme is Light Mode */
:root {
  --selection-background-color: #f0f4fd;
  --selection-background-color-rgb: 240, 244, 253;
  --primary-button-background-color: #a0583c;
  --primary-button-background-color-rgb: 160, 88, 60;
  --form-label-text-color: #212123;
  --form-input-field-text-color: #424246;
  --form-section-background-color: #f0f4fd;
  --form-legend-text-background-color: #616063;
  --form-legend-text-background-color-rgb: 97, 96, 99;
  --form-legend-text-color: #e5dee5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --form-legend-text-background-color: #48474a;
    --form-legend-text-color: #b3acb3;
    --selection-background-color: #bec2cb;
    --form-section-background-color: #bec2cb;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input,
select,
textarea {
  outline: none;
  box-shadow: none !important;
  border: none !important;
}

::selection {
  background: var(--selection-background-color);
}

.create-entity .type,
.edit-entity .type {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

form .btn.btn-primary {
  margin-left: 32.5%;
  margin-right: 32.5%;
  width: 35%;
  background-color: var(--primary-button-background-color);
  border: none;
  font-weight: 900;
}

form .row {
  margin-left: 0;
  margin-right: 0;
}

form .row label:not(.visually-hidden) {
  text-align: center;
  font-style: italic;
  color: var(--form-label-text-color);
  font-weight: 900;
}

form .row .form-control {
  border-radius: 0;
  border: none;
  color: var(--form-input-field-text-color);
  background-color: transparent;
}

form .row .form-control.form-control-sm {
  padding: .125rem;
}

form .row input.form-control.form-control-sm[type='text'],
form .row select.form-control.form-control-sm {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 1rem;
}

form .inline-normalized-slider,
form .inline-normalized-slider > div {
  height: 1.7rem;
  min-height: 1.7rem;
  padding-left: 0;
}

form .inline-normalized-slider .form-control.form-range {
  padding-top: 0;
  padding-bottom: 0;
  height: 1.7rem;
  min-height: 1.7rem;
}

form .normalized-slider label:not(.visually-hidden) span {
  display: inline-block;
  line-height: 1.75rem;
}

form .normalized-slider label:not(.visually-hidden) .name {
  width: 25%;
  text-align: left;
}

form .normalized-slider label:not(.visually-hidden) .value {
  width: 75%;
  text-align: right;
  font-weight: 300;
  font-style: normal;
}

form .normalized-slider label {
  padding-top: 0;
  padding-bottom: 0;
}

form .normalized-slider label,
form .normalized-slider .col,
form .normalized-slider input {
  height: 1.75rem;
  min-height: 1.75rem;
}

form .rotation .normalized-slider:first-of-type {
  padding-top: .5rem;
}

form .rotation .normalized-slider:last-of-type {
  padding-bottom: .5rem;
}

form .row .value-range {
  display: flex;
  height: 1.5rem;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}

form .row .value-range input[type=range],
form .row .value-range > div.row {
  height: .5rem;
  min-height: .5rem;
}

form .row .value-range .min-max {
  justify-content: space-between;
}

form .row .label-and-value {
  padding-right: 0;
}

form .row .value-range .row,
form .row .label-and-value > label,
form .row .label-and-value > div {
  height: 1.25rem;
}

form .row .label-and-value > label {
  width: 100%;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}

form .row .label-and-value > div > input[type=number] {
  height: 1rem;
  min-height: 1.25rem;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  text-overflow: ellipsis;
  font-weight: 300;
}

form .row .value-range .min-max input[type=number] {
  font-size: .675rem;
}

form .row .value-range .min-max input.min[type=number] {
  text-align: left;
}

form .row .value-range .min-max input.max[type=number] {
  text-align: right;
}

form fieldset fieldset,
form fieldset > div {
  background-color: var(--form-section-background-color);
  padding-top: .25rem;
  padding-bottom: .25rem;
}

form fieldset.expanded h3 {
  border-bottom-right-radius: 4px;
}

form fieldset legend.container {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  background-color: var(--form-section-background-color);
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  overflow: hidden;
}

form fieldset legend.container:hover {
  cursor: pointer;
}

form fieldset legend.container .row {
  align-items: center;
  justify-items: center;
}

form fieldset legend h3,
form fieldset legend p {
  margin-bottom: 0;
}

form fieldset legend h3 {
  font-size: 1rem;
  margin-right: 1rem;
  background-color: var(--form-legend-text-background-color);
  padding: .25rem .5rem !important;
  color: var(--form-legend-text-color);
}

form fieldset legend p {
  font-size: .75rem;
}

form fieldset legend p .property .name {
  font-style: italic;
  margin-right: .05rem;
  font-weight: 900;
}

form fieldset legend p .property .value {
  margin-left: .25rem;
}

form fieldset legend p .property:not(:last-child) {
  margin-right: .5rem;
}

form fieldset .toggle {
  height: 1rem;
  display: flex;
  flex: 1;
}

form fieldset .form-select.form-select-sm {
  padding-top: .125rem;
  padding-bottom: .125rem;
  background-color: transparent;
  border: none;
}

form fieldset .toggle .form-check-input[type=checkbox] {
  margin-top: -.25rem;
}

form > fieldset,
form > .row {
  overflow: hidden;
  margin-bottom: 1rem;
}

form fieldset.slider .row .form-control.min,
form fieldset.slider .row .form-control.max {
  text-align: center;
  color: var(--form-legend-text-background-color);
  text-overflow: ellipsis;
}

form fieldset.slider .row .form-control.min:hover,
form fieldset.slider .row .form-control.max:hover {
  cursor: pointer;
}

form > fieldset.color {
  overflow: visible;
}

form fieldset.color legend h3 {
  border-top-left-radius: .25rem;
}

form fieldset.color.collapsed {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  overflow: hidden;
}

form fieldset.color .swatch span {
  display: flex;
  line-height: 1rem;
  border: 1px solid var(--form-label-text-color);
  overflow: hidden;
  margin-right: 1rem;
}

form fieldset.color .react-colorful {
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

form fieldset.color .react-colorful .react-colorful__saturation {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

form fieldset.color .react-colorful .react-colorful__hue {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.form-range {
  opacity: .7;
}

.form-range:hover {
  opacity: 1;
}

.form-range::-webkit-slider-thumb {
  background: var(--primary-button-background-color);
}

.form-range::-moz-range-thumb {
  background: var(--primary-button-background-color);
}

form fieldset.shadows .row label.form-label {
  padding-top: 0;
  padding-bottom: 0;
}

form fieldset.shadows .row > div {
  align-self: center;
}

form fieldset.shadows .toggle input[type=checkbox] {
  margin-top: 0;
}

/* Toggle switch */

.toggle-switch input[type="checkbox"] { 
  position: absolute;
  opacity: 0;
}

form label.toggle-switch {
  clear: both;
  width: 100%;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: .7;
}

form label.toggle-switch:hover {
  opacity: 1;
}

/*
  Off
*/
.toggle-switch input[type="checkbox"] + .track {
  vertical-align: middle;
  width: 100%;
  height: .75rem;
  border-radius: .25rem;
  background-color: rgba(var(--form-legend-text-background-color-rgb), .15);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
}

.toggle-switch input[type="checkbox"] + .track > .knob {
  left: .125rem;
  width: 1rem;
  height: 1rem;
  border-radius: inherit;
  background: rgba(var(--primary-button-background-color-rgb), 0.5);
}

/*
  On
*/
.toggle-switch input[type="checkbox"]:checked + .track {
  align-items: flex-end;
}

.toggle-switch input[type="checkbox"]:checked + .track .knob {
  background: var(--primary-button-background-color);
}