.pane > * {
  border-radius: 2px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }

  body a {
    color: #809fff;
  }
}
